<!--HERO SECTION -->
<section class="px-8 lg:px-16">
<div class="flex flex-col lg:flex-row lg:gap-x-4">
  <div class="flex flex-col pt-24 flex-1 wow" [ngClass]="'animate__slideInUp'"  data-wow-duration="4s" data-wow-delay="0.8s">
    <span class="text-4xl font-bold lg:text-7xl font-['Alegreya'] text-[#1A193B]">
      <div class="inline-block">
        <span class="inline">Let your skin Going </span><span class="inline">
          <img src="assets/images/w-3.PNG" alt="" class="inline w-36 h-24"> Out.</span>

      </div>
    </span>
    <p class="text-sm pt-5 font-normal lg:w-80 text-[#898785] leading-5">
      We want to bring to the world through our products that very special feeling joy, healthy and positive energy
    </p>
    <div class="flex flex-row gap-x-2 lg:gap-x-4 pt-4 lg:pt-6 text-sm">
      <button class="px-4 py-3 text-white rounded-3xl bg-[#F5683C] inline-flex gap-x-2">
        Shop Now
        <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
      </button>
      <button class="px-3 py-2 text-[#0D0A29] inline-flex gap-x-1 font-semibold wow fadeInUp" data-wow-duration="4s" data-wow-delay="0.4s">
        <span><i class="fa fa-caret-right" aria-hidden="true"></i></span>
        How to use
      </button>
    </div>
  </div>
  <div class="flex flex-1 mt-0 lg:mt-0">
    <div class="lg:w-[499px] lg:h-[602px] wow" [ngClass]="'animate__slideInUp'"  data-wow-duration="4s" data-wow-delay="0.6s">
      <img src="assets/images/w-1.png" alt="">
    </div>
  </div>
</div>
</section>
<section class="-mt-[108px]">
  <div class="flex flex-row relative">
    <div class="flex flex-col w-[700px] ">
      <div class="z-10 mt-20 animated wow" [ngClass]="'animate__zoomIn'"  data-wow-duration="4s" data-wow-delay="1.1s">
        <img src="assets/images/w-5.png" alt=""
        class="ml-36 w-full h-[480px]" >
      </div>
      <div class="absolute top-10 left-96 z-20 wow" [ngClass]="'animate__zoomIn'"  data-wow-duration="4s" data-wow-delay="1.1s">
        <img src="assets/images/w-6.png" alt="">
      </div>
    </div>
    <div class="flex flex-col bg-[#F1E4EF] w-full relative">
      <div class="pl-52 py-40 pr-20 wow" [ngClass]="'animate__slideInUp'"  data-wow-duration="4s" data-wow-delay="0.6s">
        <h3 class="w-[420px] text-4xl font-['Alegreya'] pb-12 text-[#0F0B2A] pt-10">The self care brand that's setting a new <span class="text-[#F2683F]">standard Clean</span> products</h3>
        <div class="flex flex-row gap-x-16">
          <div class="flex flex-col" *ngFor="let a of [1, 2]">
            <p class="text-[#211F3F] font-bold pb-5 w-44">Where are product made?</p>
            <p class="text-sm w-56 font-semibold text-[#7A7479]">Many brands, especially in period care, carry products that take centuries.</p>
          </div>
        </div>
      </div>
      <div class="absolute -top-20 right-24 animated wow" [ngClass]="'animate__zoomIn'"  data-wow-duration="4s" data-wow-delay="1.1s">
        <img src="assets/images/w-2.png" alt="perfume">
      </div>
      <div class="absolute -top-36 right-[300px] rotate-center wow" [ngClass]="'animate__zoomIn'"  data-wow-duration="4s" data-wow-delay="1.1s">
        <img src="assets/images/w-4.png" alt="star">
      </div>
    </div>
  </div>
</section>
<!-- END OF HERO SECTION -->

  <bpw-product-display></bpw-product-display>


<section>
<div class="flex flex-row relative">
  <div class="flex flex-col bg-[#FFE5E0] w-9/12 ">
    <div class="p-20">
      <h3 class="w-9/12 text-7xl font-['Alegreya'] pb-12 text-[#181738] pt-10 wow" [ngClass]="'animate__slideInUp'"  data-wow-duration="4s" data-wow-delay="0.6s">We make going all natural <span class="text-[#F2683F]">Beauty</span>.</h3>
      <p class="w-7/12 text-base font-bold text-[#7D736E] pb-12 wow" [ngClass]="'animate__slideInUp'"  data-wow-duration="4s" data-wow-delay="0.9s">Made with natures' best ingredients - out products' transparent ingredients lists allow you to know.</p>

      <div class="flex flex-row mx-9 gap-x-8 wow" [ngClass]="'animate__zoomIn'"  data-wow-duration="2s" data-wow-delay="1.1s">
        <div class="flex flex-col rounded-t-full  w-28 h-36 product rotate-[35deg]">
          <div class="-rotate-[35deg] px-4 pt-5">
            <p class=" text-[#3B3A52] font-bold text-sm">Product users</p>
            <p class="font-['Alegreya'] text-4xl text-[#E48566] font-normal">7M+</p>

          </div>
        </div>
        <div class="flex flex-col rounded-t-full  w-28 h-36 product rotate-[210deg] mt-4">
          <div class="-rotate-[210deg] pl-5 pb-8 text-center">
            <p class="text-[#3B3A52] font-bold text-base">Brand Product</p>
            <p class="font-['Alegreya'] text-4xl text-[#E48566] font-normal">99+</p>

          </div>
        </div>
        <div class="flex flex-col rounded-t-full  w-28 h-36 product rotate-[35deg] ml-4">
          <div class="-rotate-[35deg] px-4 pt-5">
            <p class=" text-[#3B3A52] font-bold text-sm">Product users</p>
            <p class="font-['Alegreya'] text-4xl text-[#E48566] font-normal">5M</p>

          </div>
        </div>
      </div>
    </div>
    <div class="absolute top-16 right-32 rounded-full bg-[#F6866A] w-[383px] h-[500px] wow" [ngClass]="'animate__zoomIn'"  data-wow-duration="4s" data-wow-delay="0.9s">
      <img src="assets/images/w-8.png" alt="testing-perfume">
    </div>

  </div>
</div>
</section>

<bpw-faqs></bpw-faqs>
<section class="flex flex-row relative px-16 pt-6 testimonial wow" [ngClass]="'animate__slideInRight'"  data-wow-duration="4s" data-wow-delay="0.4s">
  <div class="flex flex-col bg-white px-20 pt-44 pb-14 w-10/12 wow" [ngClass]="'animate__slideInRight'"  data-wow-duration="4s" data-wow-delay="0.6s">
    <blockquote>
      <p class="text-[#151433] text-3xl font-['Alegreya'] font-semibold w-10/12 wow" [ngClass]="'animate__slideInRight'"  data-wow-duration="4s" data-wow-delay="0.8s">The UK jewelley awards is an event we always look forward to and we are so honoured to be recognized</p>
    </blockquote>

    <div class="flex justify-between items-center w-10/12">
      <div class="flex flex-col wow" [ngClass]="'animate__slideInRight'"  data-wow-duration="4s" data-wow-delay="0.8s">
        <h3 class="text-[#151433] text-lg font-bold pt-3">Jane Cooper</h3>
        <p class="text-xs font-light">Naperville, USA</p>
      </div>
      <div class="flex flex-row gap-x-2 wow" [ngClass]="'animate__slideInRight'"  data-wow-duration="4s" data-wow-delay="0.8s">
        <div class="w-4 h-4 border border-[#F6866A]"></div>
        <div class="w-4 h-4 border border-[#F6866A] bg-[#F6866A]"></div>
        <div class="w-4 h-4 border border-[#F6866A]"></div>

      </div>
    </div>
  </div>
  <div class="absolute top-16 right-32 rounded-full bg-[#F6866A] w-64 h-64 shadow-2xl shadow-gray-400 wow" [ngClass]="'animate__zoomIn'"  data-wow-duration="4s" data-wow-delay="1s">
    <img src="assets/images/w-10.png" alt="testing-perfume">
  </div>
</section>

<section class="flex flex-row gap-x-24 px-20 pt-16 wow" [ngClass]="'animate__slideInRight'"  data-wow-duration="4s" data-wow-delay="0.6s">
  <img src="assets/images/w-13.png" alt="" class="w-36 h-full wow" [ngClass]="'animate__slideInRight'"  data-wow-duration="4s" data-wow-delay="0.7s">
  <img src="assets/images/w-14.png" alt="" class="w-36 h-full wow" [ngClass]="'animate__slideInRight'"  data-wow-duration="4s" data-wow-delay="0.8s">
  <img src="assets/images/w-15.png" alt="" class="w-36 h-full wow" [ngClass]="'animate__slideInRight'"  data-wow-duration="4s" data-wow-delay="0.9s">
  <img src="assets/images/w-16.png" alt="" class="w-36 h-full wow" [ngClass]="'animate__slideInRight'"  data-wow-duration="4s" data-wow-delay="1s">
  <img src="assets/images/w-17.png" alt="" class="w-36 h-full wow" [ngClass]="'animate__slideInRight'"  data-wow-duration="4s" data-wow-delay="1.1s">
</section>

<bpw-footer></bpw-footer>
