<section class="flex flex-row gap-x-6 pt-16 px-20 z-10 mt-16">
  <div class="flex w-[246px] h-[246px] wow" [ngClass]="'animate__slideInRight'"  data-wow-duration="4s" data-wow-delay="0.6s">
    <img src="assets/images/w-23.png" alt="" class="bg-cover">
  </div>
  <div class="flex w-[246px] h-[246px] wow" [ngClass]="'animate__slideInRight'"  data-wow-duration="4s" data-wow-delay="0.8s">
    <img src="assets/images/w-24.png" alt="" class="bg-cover">
  </div>
  <div class="flex w-[246px] h-[246px] wow" [ngClass]="'animate__slideInRight'"  data-wow-duration="4s" data-wow-delay="1s">
    <img src="assets/images/w-25.png" alt="" class="bg-cover">
  </div>
  <div class="flex w-[246px] h-[246px] wow" [ngClass]="'animate__slideInRight'"  data-wow-duration="4s" data-wow-delay="1.2s">
    <img src="assets/images/w-26.png" alt="" class="bg-cover">
  </div>
</section>
<footer class="bg-[#19183A] pt-44 px-16 pb-5 text-white z-0 -mt-20 mb-2">
  <div class="flex flex-col lg:flex-row lg:gap-x-20">
    <div class="flex flex-col justifty-start items-start w-3/12 wow" [ngClass]="'animate__slideInUp'"
    data-wow-duration="4s" data-wow-delay="0.8s">
      <div class="flex">
        <img src="assets/images/w-27.png" alt="">

      </div>
      <p class="text-base pb-7 pt-5">Keep Up With Our New Releases. Beauty Tips And What Emma's Been Up To.</p>
      <div class="flex flex-row gap-x-4 text-xl">
        <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
        <span><i class="fa fa-instagram" aria-hidden="true"></i></span>
        <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
        <span><i class="fa fa-linkedin-square" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="flex flex-col justify-start items-start footer-links wow" [ngClass]="'animate__slideInUp'"
     data-wow-duration="4s" data-wow-delay="1s">
      <h1 class="font-semibold text-base pb-2">Company</h1>
      <p>About</p>
      <p>Jobs</p>
      <p>Branding</p>
      <p>Newsroom</p>
    </div>
    <div class="flex flex-col justify-start items-start footer-links wow" [ngClass]="'animate__slideInUp'"
     data-wow-duration="4s" data-wow-delay="1.2s">
      <h1 class="font-bold text-base pb-2">Resources</h1>
      <p>College</p>
      <p>Support</p>
      <p>Safety</p>
      <p>StreamKit</p>
    </div>
    <div class="flex flex-col justify-start items-start footer-links wow" [ngClass]="'animate__slideInUp'"
     data-wow-duration="4s" data-wow-delay="1.4s">
      <h1 class="font-bold text-base pb-2">Terms & Condition</h1>
      <p>Policy</p>
      <p>Faq</p>
      <p>Return & Delivery</p>
      <p>Tracking</p>
    </div>
    <div class="flex flex-col justify-start items-start footer-links wow" [ngClass]="'animate__slideInUp'"
    data-wow-duration="4s" data-wow-delay="1.6s">
      <h1 class="font-bold text-base pb-2">Subscribe</h1>
      <p>Get 10% off your first order</p>
      <div class="pt-5 relative">
        <input type="text" class="rounded-3xl py-3 px-2
      placeholder:placeholder-[#787699] bg-[#262653]
      placeholder:text-sm
      placeholder:pl-2
      w-full
      " placeholder="Enter your Email">
        <button class="w-10 h-10 rounded-full absolute bg-[#F6866A] top-6 right-0">
          <span><i class="fa fa-send" aria-hidden="true"></i></span>
        </button>
      </div>
    </div>

  </div>
  <div class="flex justify-center items-center pt-16 text-[#676784] wow" [ngClass]="'animate__slideInUp'"
  data-wow-duration="4s" data-wow-delay="1.8s">
    <p>Copyright &copy; {{date}} Musemind | All rights reserved. </p>
  </div>
</footer>
