<header class="px-16 w-full mt-3">
  <nav class="container flex items-center flex-wrap">
      <a href="" class="inline-flex items-center">
        <img src="assets/images/glow.PNG" alt="" class="w-20">
      </a>

    <div class="inline-flex flex-grow w-auto">
      <ul class="inline-flex flex-row gap-10 text-[#797775] font-bold items-center ml-auto text-sm wow slideInDown"
      data-wow-duration="2s" data-wow-delay="0.2s">
        <li class="cursor-pointer">
          <a href="">Product</a>
        </li>
        <li class="cursor-pointer">
          <a href="">About</a>
        </li>
        <li class="cursor-pointer">
          <a href="">Blog</a>
        </li>
        <li class="cursor-pointer">
          <a href="">Reviews</a>
        </li>
        <li class="cursor-pointer">
          <div class="relative">
            <div class="bg-[#F5683C] rounded-full w-8 h-8 flex justify-center items-center text-white">
              <span class="fa fa-shopping-bag" aria-hidden="true"></span>
            </div>
            <div class="bg-black rounded-full w-4 h-4 flex justify-center items-center
            text-white absolute -top-1 -right-1 shadow shadow-white">
              <span class="font-light count">1</span>
            </div>
          </div>
        </li>

      </ul>

    </div>
  </nav>
</header>
